/* VitaVis 0.1 */

/* BASICS */

* {
	text-align:left;
	font-size: 1em;
	font-family: "Roboto", Open Sans, Arial, sans-serif;
	text-shadow: 0 0 1px #F4F4F4;
	color: #282828;
}

html {
	background-image: url(background.jpg);
}

body {
	text-align: center;
	font-family: "Roboto", Open Sans, Arial, sans-serif;
	font-weight: 300;
	text-shadow: 0 0 1px #F4F4F4;
	color: #282828;
}

#wrapper {
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#left {
	float: left;
	width: 620px;
}

#right {
	width: 330px;
	float: right;
	margin-left: 40px;
	margin-top: 50px;
}

h1, h2, h3, h4, p {
	margin: 0px;
	padding: 0px;
}

h1 {
	font-family: "Roboto", Open Sans, Arial, sans-serif;
	font-weight: 700;
	font-size: 2.4em;
	text-transform: uppercase;
	margin-left: -2px;
	margin-top: 5%;
}

h2 {
	font-family: "Roboto", Open Sans, Arial, sans-serif;
	font-weight: 300;
	font-size: 1.5em;
}

h3 {
	font-family: "Roboto", Open Sans, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.2em;
	border-bottom: 1px solid #282828;
	margin-bottom: 25px;
}

h3 a i {
	color: #0F5D8D;
	text-shadow: 0 0 0px;
	font-size: 1.2em;
}

h3 a:hover i {
	color: rgb(252,252,252);
	background-color: #0F5D8D;
	text-shadow: 0 0 0px;
}

#right h3 {
	border-bottom: 0px;
}

h4 {
	font-family: "Roboto", Open Sans, Arial, sans-serif;
	font-weight: 700;
	font-size: 1em;
}

#left .h-left {
	width: 310px;
	text-align: left;
}

#left .h-right {
	width: 310px;
	text-align: right;
	float: right;
}

#right .h-left {
	width: 165px;
	text-align: left;
}

#right .h-right {
	width: 165px;
	text-align: right;
	float: right;
}

a:link, a:visited, a:focus {
	color: #0F5D8D;
	text-decoration: none;
}

a:hover {
	color: rgb(252,252,252);
	background-color: #0F5D8D;
	text-shadow: 0 0 0px;
}

/* LEFT COLUMN */

section {
	margin-top: 50px;
	margin-bottom: 50px;
	line-height: 150%;
}

.entry {
	margin-bottom: 25px;
	width: 620px;
	font-family: "Roboto";
}

.entry:hover {
	background-color: rgb(240, 240, 240);
}

.date {
	width: 160px;
	float: left;
}

.specs {
	width: 460px;
	margin-left: 160px;
	/* float: left;  */
}

.employer {
	font-weight: 700;
}

.occupation {
	font-weight: bold;
}

.description {
}

/* RIGHT COLUMN */

#right section {
	margin-top: 0px;
}

#right section:hover {
	background-color: rgb(240, 240, 240);
}

.tabular {
	display: table-row;
}

.tabular-icon {
	display: table-cell;
	width: 20px;
	padding-right: 6px;
	padding-bottom: 0px;
}

.tabular-content {
	display: table-cell;
	padding-bottom: 0px;
}

#wrapper-footer {
	width: 990px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	float: right;
}

footer {
	color: #707070;
	font-size: 0.8em;
	margin-bottom: 30px;
}

/* BARS */

.progress {
	height: 19px;
	margin-top: 19px;
	margin-bottom: 19px;
	background-color: rgb(180,180,180);
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.progress-bar {
	float: left;
	height: 100%;
	background-color: rgb(120,120,120);
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.progress-bar-label {
	height: 19px;
	line-height: 18px;
	margin-left: 2px;
	font-size: 0.7em;
	padding-left: 3px;
	padding-bottom: 1px;
	color: white;
	text-shadow: 0 0 0px;
	text-align: left;
}

.scale {
	margin-top: -10px;
}

.scale-left {
	width: 162px;
	text-align: left;
	margin-top: 23px;
	float: left;
	line-height: 1em;
	font-size: 0.9em;
	font-weight: 700;
	padding-left: 3px;
}

.scale-right {
	width: 162px;
	margin-top: 23px;
	text-align: right;
	float: left;
	line-height: 1em;
	font-size: 0.9em;
	font-weight: 700;
	padding-right: 3px;
}

.progress-right {
	height: 23px;	/* 20px for png */
	margin-top: 20px;
	margin-bottom: 20px;
	background-image: url(bar-bg.png);
	background-repeat: repeat-x;
	background-position: bottom;
}

.progress-bar-right {
  float: left;
  height: 100%;
  font-size: 16px;
  color: #282828;
  text-shadow: 0 0 1px rgb(130,130,130);
  background-color: transparent;
}

/* PURE CSS TIMELINE INSPIRED BY MATT BANGO */
/* http://mattbango.com/notebook/code/pure-css-timeline */

.timeline {
	margin-top: -50px;
}

ul.events {
    list-style-type: none;
    margin: 0;
	padding: 0 0 20px 0;
}

ul.events li {
    border-bottom: 1px solid #999;
    color: transparent;
    font-size: 0.7em;
    margin-bottom: 8px;
    padding: 1px 0px 2px;
    position: relative;
	white-space: nowrap;
    text-align: left;
	line-height: 100%;
}

ul.events li a {
    color: #aaa;
    color: transparent;
}

ul.events li a:hover {
    color: #999;
	background: transparent;
}

.timeline-event a {
	width: 100%; 
	display: block;
}

.inline-block {
	display: inline-block;
	margin-right: 1px;
}

ul.intervals {
    list-style-type: none;
    padding: 0;
    display: block;
	margin: 0;
}

/* Width depends on the number of intervals. Example: 100 / 7 = 14.29% */

ul.intervals li {
    border-right: 1px solid #ddd;
    color: #888;
    float: left;
    font-size: 1em;
    margin: 0;
    text-align: center;
    width: 12.36%;
}

ul.intervals li.last {
    border-right: 0px;
}

/* Bootstrap Addenda */

.collapse {
	display: none;
}

.collapse.in {
	display: block;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
          transition: height 0.35s ease;
}