body {
  padding-top: 50px;
}
.container {
	max-width: 550px;
}
.google-template {
  padding: 40px 15px;
  text-align: center;
}
.input-google {
	background: url('../img/google-logo@2x.png') no-repeat center center;
	background-size: 375px 129px;
	height: 210px;
	max-width: 550px;
	line-height: 130px;
	font-size: 130px;
	border: 0;
	box-shadow: 0;
	outline: 0;
	padding: 0px 82px 44px 82px;
}
.input-google:focus {
	outline: 0;
};