body{
	background:#101010;
	color:#92e5b1;
	font-family:'Hack', 'Hasklig', 'Fira Code', monospace;
}

.accessGranted{
	position:absolute;
	top:200px;
	background:#333;
	padding:20px;
	border:1px solid #999;
	width:300px;
	left:50%;
	margin-left:-150px;
	text-align:center;
}

.accessDenied{
	position:absolute;
	top:200px;
	color:#E11E11;
	background:#411;
	padding:20px;
	border:1px solid #C33C33;
	width:300px;
	left:50%;
	margin-left:-150px;
	text-align:center;
}

